body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.border {
  width: 1500px;
  height: 500px;
  background:white;
  border: 10px solid #1434A4;
  animation: myanim 3s infinite;
  background-position: bottom left;
  background-size: 50px;
}

@keyframes myanim {
  20% {
    border-color: #FF2400	;
  }
}

.toplogo {
  width: 70px;
  height: 70px;
  position: fixed;
  top:10px;
  left: 600px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 35px;
  left: 450px;
}

.h1 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 200px;
  left: 550px;
}

.h11 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 250px;
  left: 240px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#studentID {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top:430px;
  left:560px;
}

#studentID:hover{
  border-color: #1434A4;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top:460px;
  left:570px;
}


button:hover{
  background-color: #D3D3D3;
}

  